{% extends "base.html" %}
{% block title %}Continental | Reservation - {{ reservation.room.category.category_name }}{% endblock title %}
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-12 m-5">
            <div class="row justify-content-center align-items-center m-5 border-2">
                <div class="col-4 p-2">
                    <img src="{{ reservation.room.category.image_file.url }}" class="d-block mx-lg-auto img-fluid" alt="Room Image" loading="eager  ">
                </div>
                <div class="col-4 p-2">
                    <h1 class="display-5 fw-bold lh-1 mb-3">{{ reservation.room.category.category_name }}</h1>
                    <div class="row w-100 bottom-0 mb-2 pb-2" style="color: #757575;">
                        <div class="col-2"><i class="fa-solid fa-bed p-1"></i><span class="p-2">{{ reservation.room.category.beds }}</span></div>
                        <div class="col-9"><i class="fa-solid fa-tags m-1"></i><span class="p-2">Ksh. {{ reservation.room.category.price }}<small>/night</small></span></div>
                    </div>
                    <div class="col-4"><i class="fa-solid fa-calendar p-1"></i><span class="p-2">{{ reservation.check_in }}</span></div>
                    <div class="col-4"><i class="fa-solid fa-calendar p-1"></i><span class="p-2">{{ reservation.check_out }}</span></div>
                    <hr>
                    <div class="p-2 ">
                        {% if reservation.status == 'FULFILLED' %}
                            <span class="text-muted">Status: </span><span class="badge rounded-pill bg-success">{{ reservation.status }}</span>

                        {% elif reservation.status == 'PENDING' %}
                            <span class="text-muted">Status: </span><span class="badge rounded-pill bg-info">{{ reservation.status }}</span>
                            <form method="POST">
                                {% csrf_token %}

                                <div class="py-2  d-flex">
                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                </div>
                            </form>

                        {% elif reservation.status == 'CANCELLED' %}
                            <span class="text-muted">Status: </span><span class="badge rounded-pill bg-danger">{{ reservation.status }}</span>
                            <div class="text-muted">Date Cancelled: {{ reservation.cancellation_date }}</div>

                        {% endif %}

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}