{% extends "base.html" %}
{% block title %}Continental | Reservation - {{ reservation.room.category.category_name }}{% endblock title %}
{% block content %}

<div class="container">
    <div class="row d-flex flex-wrap">
        <div class="col m-5">
            <div class="row align-items-center p-5 w-100">
                <div class="w-50">
                    <img src="{{ reservation.room.category.image_url }}" class="d-block mx-lg-auto img-fluid" alt="Room Image" loading="lazy">
                </div>
                <div class="w-50 p-2">
                    <h1 class="display-5 fw-bold lh-1 mb-3">{{ room.category.category_name }}</h1>
                    <p class="lead">Beds: {{ reservation.room.category.beds }}</p>
                    <p class="lead">Check In: {{ reservation.check_in }}</p>
                    <p class="lead">Check Out: {{ reservation.check_out }}</p>
                    <hr>
                    <div class="p-2 ">
                        <p class="lead">Status: {{ reservation.status }}</p>

                        {% if reservation.status == "PENDING"%}


                            <form method="POST">
                                {% csrf_token %}

                                <div class="py-2  d-flex">
                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                </div>
                            </form>

                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}