{% extends "base.html" %}
{% block title %}Continental | Reservations {% endblock title %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col m-5">

            {% for reservation in reservations %}

            <a href="{% url 'hotel:reservation_detail' reservation.id %}" class="text-decoration-none">
                <div class="card mb-3 w-75">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{ reservation.room.category.image_file.url }}" class="card-img-top" alt="Room Image" style="height: 250px;" loading="eager">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h3 class="card-title">{{ reservation.room.category.category_name }}</h3>
                                <div class="row w-100 bottom-0 mb-2 pb-2" style="color: #757575;">
                                    <div class="col-3"><i class="fa-solid fa-bed p-1"></i><span class="p-2">{{ reservation.room.category.beds }}</span></div>
                                    <div class="col-4"><i class="fa-solid fa-calendar p-1"></i><span class="p-2">{{ reservation.check_in }}</span></div>
                                    <div class="col-4"><i class="fa-solid fa-calendar p-1"></i><span class="p-2">{{ reservation.check_out }}</span></div>
                                </div>

                                {% if reservation.status == 'FULFILLED' %}
                                    <span class="text-muted">Status: </span><span class="badge rounded-pill bg-success">{{ reservation.status }}</span>
                                {% elif reservation.status == 'PENDING' %}
                                    <span class="text-muted">Status: </span><span class="badge rounded-pill bg-info">{{ reservation.status }}</span>
                                {% elif reservation.status == 'CANCELLED' %}
                                    <span class="text-muted">Status: </span><span class="badge rounded-pill bg-danger">{{ reservation.status }}</span>
                                    <span class="text-muted">Date Cancelled: {{ reservation.cancellation_date }}</span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </a>

            {% endfor %}


        </div>
    </div>
</section>

{% endblock content %}