{% extends "base.html" %}
{% block title %}Continental | Reservations {% endblock title %}
{% block content %}

<div class="container">
    <div class="row d-flex flex-wrap">

        {% for reservation in reservations %}

            <div class="col">
                <a href="{% url 'hotel:reservation_detail' reservation.id %}" class="text-decoration-none">
                    <div class="card text-dark bg-light mb-3 h-100">
                        <img src="{{ reservation.room.category.image_url }}" class="card-img-top" alt="Room Image" style="height: 250px;" loading="lazy">
                        <div class="card-body">
                            <h3 class="card-title">{{ reservation.room.category.category_name }}</h3>
                            <p class="card-text">Bed: {{ reservation.room.category.beds }}</p>
                            <p class="card-text">Status: {{ reservation.status }}</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}


    </div>
</div>

{% endblock content %}