{% extends "base.html" %}
{% block title %}Continental | Room - {{ room.category.category_name }}{% endblock title %}
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-12">

        {% if room is None %}

            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Room Unavailable.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Unfortunately we are out of those rooms.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" href="{% url 'hotel:room_offering' %}">Back</button>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="row justify-content-center align-items-center border-2 m-5">
                <div class="col-4">
                    <img src="{{ room.category.image_file.url }}" class="d-block mx-lg-auto img-fluid" alt="Room Image" loading="eager">
                </div>
                <div class="col-4 p-2">
                    <div class="d-flex justify-content-end"><i class="fa-solid fa-star" style="color: #f5c211;"><span class="p-2 text-black">4.5</span></i></div>
                    <h1 class="display-5 fw-bold lh-1 mb-3">{{ room.category.category_name }}</h1>
                    <div class="row w-100 bottom-0 mb-2 pb-2" style="color: #757575;">
                        <div class="col-2"><i class="fa-solid fa-bed p-1"></i><span class="p-2">{{ room.category.beds }}</span></div>
                        <div class="col-9"><i class="fa-solid fa-tags m-1"></i><span class="p-2">Ksh. {{ room.category.price }}<small>/night</small></span></div>
                    </div>
                    <div class="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nostrum maxime accusantium dolorum quisquam deleniti dicta hic. Amet quaerat veritatis fuga aspernatur autem? Ducimus dicta nihil amet fugit velit asperiores!</p>
                    </div>
                    <hr>
                    <div class="col p-3  justify-content-center">
                        <form id="reservation_form" action="" method="POST">
                            {% csrf_token %}

                            {% for field in form %}

                                <div class="form-group mx-auto datetimepicker">
                                    <label class="form-label">{{ field.label }}</label> 
                                    <p>{{ field }}</p>
                                    <small class="form-text text-muted">{{ field.errors }}</small>

                                    {% if field.help_text %}
                                        <p class="form-text text-muted">{{ field.help_text|safe }}</p>
                                    {% endif %}

                                </div>
                    
                            {% endfor %}
                            <div class="p-2 justify-content-center d-flex">
                                <button type="submit" class="btn btn-primary">Reserve</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% endif %}

        </div>
    </div>
</section>

{% endblock content %}