{% extends "base.html" %}
{% block title %}Continental | Password Reset{% endblock %}

{% block content %}
<h1>Password Reset</h1>

<p>Please enter your email address below.</p>

<form method="POST" action="">

    {% csrf_token %}

    {% for field in form %}

        <div class="form-group">
            <label>{{ field.label }}</label>
            <p> {{ field }} </p>
        </div>

        {% for error in field.errors %}

        <div class="invalid-feedback">
            <strong>{{ error|escape }}</strong>
        </div>
        
        {% endfor %}

    {% endfor %}      

    {% for error in form.non_field_errors %}

        <div class="invalid-feedback">{{ form.non_field_errors }} </div>

    {% endfor %}

    {% for error in form.field_errors %}

        <div class="invalid-feedback">{{ form.non_field_errors }} </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary">Send</button>

</form>

{% endblock %}
