{% extends "hotel/base.html" %}
{% block title %}Home Page{% endblock title %}
{% block content %}
{% for room in available_rooms %}
    <div class="col-md-4">
        <div class="card h-100">
            <h4 class="card-header">Room {{ room.room_number }}</h4>
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li>Room Type: {{ room.room_category }}</li>
                        <li>Price: {{room.price}}</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock content %}